@import "../MainLayout/mainLayout.module";

%dflex {
   display: flex;
   justify-content: space-between; 
 }
 %border-bottom {
   border-bottom: 1px solid $color-primary;
 }

.headerbar {
   max-width: 1360px;
   margin: 0 auto;
   .headerbarContainer {
      min-height: 80px;
      @extend %dflex;
      align-items: center;
   }
   .sectionLogo {
      display: flex;
      justify-content: center;
      width: 336px;
   }

   .headerLogo {
      display: flex;
      align-items: center;
      gap:10px;
   }
   
   .docLabel {
      width: 180px;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 1px;
      color: $color-primary;
   }
   .headerbarRight {
      display: flex;
      justify-content: center;
      width: 395px;
   }
   .testAccountLink:hover {
      @extend %border-bottom;
   }
}


