.mainWrapper {
  display: flex;
  .content {
    flex-grow: 1;

    .title {
      margin-top: 32px;
    }
  }

  .navigation {
    flex-grow: 0;
    width: 230px;
    min-width: 230px;
    position: sticky;
    height: 100%;
    top: 0;
    padding: 0 26px 0 52px;
    box-sizing: content-box;
  }
}
