
.icon {
  fill: none;
  color: darkgrey; // TODO Replace by a color constant, when such one arrives
}

.iconArrowDown {
  width: 12px;
  height: 12px;
  // color: red; Set a different color if you want change a default icon color
}
