@import "styles/variables/colors";

.navigationHeader {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $grey-light;
  width: 100%;
}

.link{
  display: block;
  padding: 8px 20px;
  border-left: 3px solid;
  border-left-color: transparent;
  transition: border-left-color 200ms;
  font-size: 14px;
  font-weight: 400;

  &.active {
    border-left-color: $blue-light;
  }

  &:hover:not(.active) {
    border-left-color: $grey-light;
    text-decoration: underline;
  }
}
