.contentBlock {
  flex: 0 0 50%;
}

.introWrapper {
  .introTitle {
    letter-spacing: 0.02em;
    word-spacing: 0.02em;
    line-height: 48px;
  }

  .introDescription {
    margin: 30px 0 0;
  }

  .getStartedLink {
    margin-top: 30px;
    padding: 15px 24px;
    font-weight: 500
  }
}

.blocksWrapper {
  padding-top: 60px;

  .blockTitle {
    margin: 20px 0 0;
  }

  .blockDescription {
    padding: 10px 0 20px;
  }

  .blockList li {
    padding: 5px 0;
    font-weight: 500;
  }

  .blockLink {
    cursor: pointer;

    svg {
      margin-left: 8px;
    }

    &:hover svg {
      transform: translateX(40%);
      transition: transform 0.15s linear 0s;
    }
  }
}
