@import "styles/variables/colors";

.container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.linkContainer {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;

  &:last-child {
    font-weight: 500;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}
