@import 'styles/variables/colors';

.link {
  border-bottom: 2px solid transparent;

  &.active {
    border-bottom-color: $blue-light;
  }

  &:hover:not(.active) {
    text-decoration: underline;
  }
}
